<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<h1 style="text-align: center; margin-top: 150px">Future home of ForkEm!</h1>
			<p style="text-align: center;">This is just a temporary text holder</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-5 col-sm-offset-1">
			<h3>A website dedicated towards:</h3>
			<ul>
				<li>Planning meals for the week</li>
				<li>Creating/saving recipes that the user creates</li>
				<li>Sharing recipes easily</li>
				<li>Adding other users recipes to their own list</li>
			</ul>
		</div>
		<div class="col-sm-5">
			<h3>Future objectives:</h3>
			<ul>
				<li>Storing recipe ingredients into a "list" for easy shopping</li>
				<li>When you create a recipe, it takes that amount off your "list"</li>
				<li>Shopping checklist while you shop</li>
			</ul>
		</div>
	</div>
</div>
