- content_for(:page_title) do
  - mealbook.mealbook_name

.week-wrapper
  .weekdays
    = render mealbook.week_days
  .meals__available-list
    .meal-list#draggable-meals
      = render partial: "meal", collection: mealbook.meals_with_no_assignment_for_current_week
