%h1= mealbook.mealbook_name

%p Lets create some meals!
= link_to "New Meal", new_mealbook_meal_path(mealbook)


.week-wrapper
  .weekdays
    = render mealbook.week_days
  .meals__available-list
    .meal-list
      = render partial: "meal", collection: mealbook.meals_with_no_assignment_for_current_week
