- content_for(:page_title) do
  - mealbook.mealbook_name

.week-wrapper
  .week-main
    .week-title
      = render "weekday_title", mealbook: mealbook

    .weekdays-wrapper
      .weekdays
        = render mealbook.week_days
  .meals__available-list
    .meal-list#draggable-meals
      = render partial: "meal", collection: mealbook.available_meals
