.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  header {
    min-height: 50px;
    background-color: $main-green;
    width: 100%;
    nav {
      display: flex;

      .nav__mealbook-new {
        line-height: 45px;
        min-width: 50px;
        text-align: center;
        a {
          color: white;
          font-size: 2em;
          text-decoration: none;
        }
      }
      .nav__mealbook-title {
        flex: 1;
        text-align: center;
        line-height: 50px;
        color: white;
        font-size: 1.6em;
      }
      .nav__mealbook-other {
        min-width: 50px;
      }
    }
  }
}

.week-wrapper {
  display: flex;
  flex: 1;
}

.week-main {
  display: flex;
  overflow-x: scroll;
  flex-direction: column;
}

.week-title {
  .arrow-left, .arrow-right {
    &:hover {
      cursor: pointer;
    }
  }

}
.weekdays-wrapper {
  display: flex;
  flex: 1;
  align-items: stretch;
}
.weekdays {
  display: flex;
  flex: 1;
  padding: 50px 50px;
}

.meal {
  position: relative;
  padding: 20px;
  border-radius: 2px;
  background: white;
  box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);

  .meal-unassign {
    display: none;
  }
}

.weekday {
  display: flex;
  flex-direction: column;
  @extend .meal;
  min-width: 300px;
  margin-right: 20px;

  &-title {
    text-align: center;
  }

  .meal + .meal.gu-transit {
    display: none;
  }

  .weekday-meals {
    flex: 1;

    .meal {

      .meal-unassign {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.meals__available-list {
  min-width: 300px;
  padding: 10px;
  background-color: #eee;

  .meal {
    margin-bottom: 10px;
    &:hover {
      cursor: move;
    }

    .meal-unassign {
      display: none;
    }
  }
}
.meals__available-list {}
.meal {}
