.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  header {
    min-height: 50px;
    background-color: $main-green;
    width: 100%;
    .nav__mealbook-title {
      text-align: center;
      line-height: 50px;
      color: white;
      font-size: 1.6em;
    }
  }
}

.week-wrapper {
  display: flex;
  flex: 1;
}

.weekdays {
  display: flex;
  align-items: stretch;
  flex: 1;
  padding: 50px 50px;
  overflow-x: scroll;
}

.meal {
  position: relative;
  padding: 20px;
  border-radius: 2px;
  background: white;
  box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);

  .meal-unassign {
    display: none;
  }
}

.weekday {
  display: flex;
  flex-direction: column;
  @extend .meal;
  min-width: 300px;
  margin-right: 20px;

  &-title {
    text-align: center;
  }

  .meal + .meal.gu-transit {
    display: none;
  }

  .weekday-meals {
    flex: 1;

    .meal {
      .meal-unassign {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
.meals__available-list {
  min-width: 300px;
  padding: 10px;
  background-color: #eee;

  .meal {
    margin-bottom: 10px;
    &:hover {
      cursor: move;
    }

    .meal-unassign {
      display: none;
    }
  }
}
.meals__available-list {}
.meal {}
